footer.page-footer.font-small.mdb-color.pt-4
    div.container.text-center.text-md-left
        div.row.text-center.text-md-left.mt-3.pb-3
            div.col-md-3.col-lg-3.col-xl-3.mx-auto.mt-3
                h6.text-uppercase.mb-4.font-weight-bold (Yet) Another Movie Database
                p Para irmos de encontro com o desafio proposto pelo Professor Laercio, esta é o nosso front-end final que recorre à API do servidor node.js desenvolvido na segunda parte do projecto.
            hr.w-100.clearfix.d-md-none
            hr.w-100.clearfix.d-md-none
            div.col-md-3.col-lg-2.col-xl-2.mx-auto.mt-3
                h6.text-uppercase.mb-4.font-weight-bold Links Úteis
                p
                    a(href='#') Junte-se a nós
                p
                    a(href='/apidocs') API
                p
                    a(href='#') Ajuda
            hr.w-100.clearfix.d-md-none
            div.col-md-4.col-lg-3.col-xl-3.mx-auto.mt-3
                h6.text-uppercase.mb-4.font-weight-bold
                p
                    i.fas.fa-home.mr-3
                        span(style='padding-left: 8px') Universidade Autónoma de Lisboa
                p
                    i.fas.fa-users.mr-3 
                        span(style='padding-left: 5px') Miguel Lima e Tiago Alves
                p
                    i.fas.fa-book.mr-3
                        span(style='padding-left: 8px') Lic. Eng. Informática
        hr
        div.row.d-flex.align-items-center
            div.col-md-7.col-lg-8
                p.text-center.text-md-left Universidade Autónoma de Lisboa | 30003444 - Miguel Lima | 30003460 - Tiago Alves
            div.col-md-5.col-lg-4.ml-lg-0
                div.text-center.text-md-right
                    ul.list-unstyled.list-inline
                        li.list-inline-item
                            a.btn-floating.btn-sm.rgba-white-slight.mx-1
                                i.fab.fa-facebook-f
                        li.list-inline-item
                            a.btn-floating.btn-sm.rgba-white-slight.mx-1
                                i.fab.fa-twitter
                        li.list-inline-item
                            a.btn-floating.btn-sm.rgba-white-slight.mx-1
                                i.fab.fa-reddit
                        li.list-inline-item
                            a.btn-floating.btn-sm.rgba-white-slight.mx-1
                                i.fab.fa-linkedin-in

